#canvasDiv {
    position: relative;
}

#bowImg {
    width: 640px;
    height: auto;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    position: absolute;
}


#border {
    width: 640px;
    height: 480px;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    border: 3px black solid;
}

#canvas {
    position: fixed;
}

/* don't let the user select/mark anything  */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}






